# PyInstaller / Build
build/
dist/
*.spec

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Temporary Astro files & test videos
*.ser
*.mp4
*.gif
*.png

# Virtual Environments
.venv/
venv/
ENV/

# VS Code / IDEs
.vscode/
.idea/
