# PyInstaller / Build
build/
dist/
*.spec

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Temporary Astro files & test videos
*.ser
*.avi
*.mp4
*.gif
*.png

# Ignore commercial copyrighted audio tracks in colonne_sonore
colonne_sonore/*Bowie*
colonne_sonore/*Zimmer*
colonne_sonore/*Parsons*

# Virtual Environments
.venv/
venv/
ENV/

# VS Code / IDEs
.vscode/
.idea/
